/* 美化选项卡外观 */
.nav-tabs li a{
	line-height:2;
	font-weight: bold;
	background: #dddddd;
}
.nav-tabs .active a{
	border-top: solid 4px #3498db !important;
}

/* 选项卡间实体化效果 */
.nav-tabs li a{
	line-height:2;
	border:1px #ddd solid;
	margin-right: 2px;
	color: #999;
}
/*.nav-tabs{*/
	/*background: #fafafa;*/
/*}*/

/*修复user-query.jsp中数据表格的按钮对齐*/
html body div div.col-xs-10 div.col-xs-12.well div.tab-content div#tab_container_queryUser.tab-pane.active div.panel.panel-default div.bootstrap-table div.fixed-table-toolbar div.columns.columns-right.btn-group.pull-right div.keep-open.btn-group button.btn.btn-default.dropdown-toggle {
	height: 28px;
}
/*修复meal-list.jsp中数据表格的按钮对齐*/
html body div.container div.col-xs-10 div.col-xs-12.well div.tab-content div#tab_container_queryMeals.tab-pane.active div.bootstrap-table div.fixed-table-toolbar div.columns.columns-right.btn-group.pull-right div.keep-open.btn-group button.btn.btn-default.dropdown-toggle {
	height: 28px;
}
/*修复order-list.jsp中数据表格按钮对齐*/
html body div.container div.col-xs-10 div.col-xs-12.well div.tab-content div#tab_container_queryOrder.tab-pane.active div.panel.panel-default div.bootstrap-table div.fixed-table-toolbar div.columns.columns-right.btn-group.pull-right div.keep-open.btn-group button.btn.btn-default.dropdown-toggle {
	height: 28px;
}
/*调整表格字体和行高*/
tbody>tr>td {
	/*font-size: 14px;*/
	/*height: 20px;*/
}