<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
	<dubbo:application name="iswfe_consumer" />
	<!-- 使用zookeeper注册中心找到发布的服务 -->
	<dubbo:registry  protocol="zookeeper" address="zookeeper://iswfe.xyz:2181" />

	<!-- 生成远程服务代理，可以和本地bean一样使用demoService -->
	<dubbo:reference id="helloService" interface="com.iswfe.dubbo.provider.HelloService" />

	<!-- SolrIndexService -->
	<dubbo:reference id="solrIndexService" interface="com.iswfe.dubbo.provider.SolrIndexService" />

	<!-- SolrIndexService -->
	<dubbo:reference id="searchMealIndexService" interface="com.iswfe.dubbo.provider.SearchMealIndexService" />

	<!-- SolrIndexService -->
	<dubbo:reference id="searchMealService" interface="com.iswfe.dubbo.provider.SearchMealService" />

</beans>