body {
    margin: 0;
    font-family: '微软雅黑', 'Times New Roman', Times, serif;
}

.navi_head {
    height: 94px;
    width: 100%;
    background-color: #c90000;
}

.logo {
    display: block;
    height: 94px;
    width: 184px;
    float: left;
    background: url(../images/logo2.png) -15px 9px no-repeat;
}

.navi_head .div_a {
    width: 400px;
    text-align: center;
    height: 20px;
    display: inline-block;
    font-weight: bold;
    color: #FFF;
    font-size: 14px;
    vertical-align: top;
}

.div_b{
    margin-left: 250px;
    margin-top: 35px;
}
.span_a {
    margin-left: 100px;
    font-size: x-large;
}

.table_a{
    margin: 10px auto 10px auto;
    background-color: #f5f5f5;
    border: 1px solid #e8e8e8;
}
.td_a{
    width: 150px;
    padding: 0 50px 0 50px;
}

.input_inner {
    background: #b92c28;
    color: white;
}

.div_c{
    display: inline;
    background-color: #f5f5f5;
    margin-left: 50px;
    font-size: x-large;
    width: 200px;
}

.li_a{
    display: inline;
    padding: 100px;
    font-size: larger;
    font-family: '微软雅黑', 'Times New Roman', Times, serif;
}

.div_d{

}

.div_e{
    margin-top: 45px;
    background: #2aabd2;
    height: 35px;
    line-height: 35px;
    padding-left: 100px;
}

.div_f{
    background: #9c9c9c;
    padding-top: 10px;
}

.li_b{
    display: inline;
}

#li_name{
    margin-left: 50px;
}

#li_meal{
    margin-left: 150px;
}
#li_amount{
    margin-left: 30px;
}
#li_status{
    margin-left: 200px;
}
#li_op{
    margin-left: 220px;
}
