<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.mapper.TbMealCustomMapper">
    <sql id="Base_Column_List">
     m.meal_id as mealId ,m.meal_name as mealName, m.meal_price as mealPrice,m.amount as amount,
   m.meal_num as mealNum, m.meal_picture as mealPicture ,m.meal_status as mealStatus,
   m.meal_intro as mealIntro ,m.category as category,
   m.create_time as createTime ,m.update_time as updateTime,
   s.name as publisher
    </sql>
    <sql id="Where_Clause">
        <where>
            m.meal_status !=3
            <if test="query !=null and query.mealName!=null and query.mealName!= ''">
                and m.meal_name like '%${query.mealName}%'
            </if>
            <if test="query !=null and query.publisher !=null and query.publisher != '' ">
                and s.name like '%${query.publisher}%'
            </if>
            <if test="query !=null and query.status !=null and query.status !=0">
                and m.meal_status = #{query.status}
            </if>
        </where>
    </sql>

    <!--商品分页-->
    <select id="listItemsByPage" resultType="com.qf.pojo.TbMeal">
        select
        <include refid="Base_Column_List"/>
        from tb_meal m
	      left join tb_seller s on m.meal_id = s.mid

        <include refid="Where_Clause"/>
        <choose>
            <when test="order != null and order.sort != null and order.order != null">
                <!--<foreach collection="order.orderParams" open="order by " close=""
                         separator="," item="item">
                    m.${item}
                </foreach>-->
                ORDER BY ${order.sort} ${order.order}
            </when>
            <otherwise>
                order by m.meal_id asc
            </otherwise>
        </choose>
        limit #{page.offset},#{page.rows}
    </select>

<!--查询商品总数-->
    <select id="listCondition" resultType="_long">
        select
        count(*)
        from tb_meal m
        <include refid="Where_Clause"/>
    </select>

    <!--根据mealId查询 TbMealCustom-->
    <select id="findMealCustomById" resultType="com.qf.vo.TbMealCustom">
        select
        <include refid="Base_Column_List"/>
        from tb_meal m
        from tb_meal m
          left join tb_seller s on m.meal_id = s.mid

        where m.meal_id =#{mealId}
    </select>

    <!--更新商品-->
    <update id="updateMealCustom">

    </update>

    <!--查询meal到(TbSearchMealCustom)索引库-->
    <select id="getSearchMealList" resultType="com.qf.vo.TbSearchMealCustom">
        select
        m.meal_id as mealId,
        m.meal_name as mealName,
        m.meal_price as mealPrice,
        m.meal_num as mealNum,
        m.meal_picture as mealPic,
        m.meal_intro as mealIntro
        s.name as publisher

        from tb_meal m
	        left join tb_seller s on m.meal_id = s.mid

        where
        m.meal_status = 1
        order by m.meal_id desc;
    </select>
</mapper>