<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.mapper.TbMealsMapper">
    <sql id="Base_Column_List">
   m.meal_id as mealId ,m.meal_name as mealName, format(m.meal_price/100,2) as mealPrice,
   m.meal_num as mealNum, m.meal_picture as mealPicture ,m.meal_status as mealStatus,
   m.publisher as publisher ,m.meal_intro as mealIntro ,m.category as category,
   m.create_tme as createTme ,m.updat_time as updatTime, m.cat_id as catId,
   c.cat_name as catName
    </sql>
    <sql id="Where_Clause">
        <where>
            m.meal_status !=3
            <if test="tbquery !=null and tbquery.mealname!=null and tbquery.mealname!= ''">
                and m.meal_name like '%${tbquery.mealname}%'
            </if>
            <if test="tbquery !=null and tbquery.publisher !=null and tbquery.publisher != '' ">
                and m.publisher like '%${tbquery.publisher}%'
            </if>
            <if test="tbquery !=null and tbquery.status !=null and tbquery.status !=0">
                and m.meal_status = #{tbquery.status}
            </if>
        </where>
    </sql>
    <select id="listItemsByPage" resultType="com.qf.pojo.TbMeal">
        select
        <include refid="Base_Column_List"/>
        from tb_meal m LEFT JOIN tb_meal_cat c
        ON m.meal_id =c.id
        <include refid="Where_Clause"/>
        <choose>
            <when test="order != null and order.sort != null and order.order != null">
                <foreach collection="order.orderParams" open="order by " close=""
                         separator="," item="item">
                    m.${item}
                </foreach>
            </when>
            <otherwise>
                order by m.meal_id desc
            </otherwise>
        </choose>
        limit #{page.offset},#{page.rows}
    </select>
    <select id="listCondition" resultType="_long">
        select
        count(*)
        from tb_meal m
        <include refid="Where_Clause"/>
    </select>


</mapper>