<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.mapper.TbOrderCustomMapper" >
    <sql id="Base_sql">
        /*order本身的字段*/
        o.order_id as orderId,o.payment as payment, o.payment_type as paymentType,o.order_free as orderFree,
        o.order_status as orderStatus,o.order_created as orderCreated, o.order_finished as orderFinished,
        o.order_message as orderMessage,
        /*要关联的字段*/
        m.meal_name as mealName,m.meal_price as mealPrice,m.meal_num as mealNum,m.amount as amount,
        a.addr_name as addrName,p.p_name as pName,p.p_mobie as pMobie,
        u.user_name as userName,u.user_phone as userPhone,
        s.name as sname,s.telephone as stelephone
    </sql>

    <sql id="Where_Clause">
        <where>
            o.order_status !=3
            <if test="query !=null and query.orderId !=null and query.orderId !=''">
                and o.order_id like '%${query.orderId}%'
            </if>
            <if test="query !=null and query.orderStatus !=null and query.orderStatus !=''">
                and o.order_status = #{query.orderStatus}
            </if>
        </where>
    </sql>

    <!--查询订单总数-->
    <select id="listCondition" resultType="_long">
        select count(*) from tb_order o
        <include refid="Where_Clause"/>
    </select>

    <!--查询订单分页-->
    <select id="listOrdersByPage" resultType="com.qf.vo.TbOrderCustom">
        select
        <include refid="Base_sql"/>
        from tb_order o left join tb_meal m on o.m_id = m.meal_id
        left join tb_user u on o.u_id = u.user_id
        left join tb_seller s on s.oid=o.order_id
        left join tb_address a on a.id=s.oid
        left join tb_post p on p.id=s.pid
        <include refid="Where_Clause"/>
        <choose>
            <when test="order != null and order.sort != null and order.order != null">
                ORDER BY ${order.sort}  ${order.order}
            </when>
            <otherwise>
                order by o.order_id asc
            </otherwise>
        </choose>
        limit #{page.offset},#{page.rows}
    </select>


    <!--根据用户id查询订单-->
    <select id="listOrdersById" resultType="com.qf.vo.TbOrderCustom">
        select
        <include refid="Base_sql"/>
        from tb_order o left join tb_meal m on o.m_id = m.meal_id
        left join tb_user u on o.u_id = u.user_id
        left join tb_seller s on s.oid=o.order_id
        left join tb_address a on a.id=s.oid
        left join tb_post p on p.id=s.pid
        <where>
            o.order_status !=3 and o.u_id =#{query.uid}
            <if test="query !=null and query.orderId !=null and query.orderId !=''">
                and o.order_id like '%${query.orderId}%'
            </if>
            <if test="query !=null and query.orderStatus !=null and query.orderStatus !=''">
                and o.order_status = #{query.orderStatus}
            </if>
        </where>
        limit #{page.offset},#{page.rows}
    </select>
</mapper>